<%#
Copyright (C) 2021 Formez PA

This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, version 3.

This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License along with this program. If not, see <https://www.gnu.org/licenses/>

Modificato per rimuovere link a Open Data
%>
<div class="main-footer">
  <% if current_organization.official_img_footer? %>
    <%= link_to  current_organization.official_url, class: "main-footer__badge" do %>
    <%= image_tag current_organization.official_img_footer.url.to_s , alt: current_organization.name %>
    <% end %>
  <% end %>
  <div class="row">
    <div class="column main__footer__nav">
    <nav class="main__footer__nav">
      <ul class="footer-nav">
      <% organization_pages = current_organization.static_pages_accessible_for(current_user) %>
      <% if organization_pages.any? %>
        <% current_organization.static_page_topics.where(show_in_footer: true).each do |page_topic| %>
        <% topic_pages = page_topic.accessible_pages_for(current_user) %>
        <% if page_topic.pages.any? %>
          <li><%= link_to translated_attribute(page_topic.title), decidim.page_path(page_topic.pages.first) %></li>
        <% end %>
      <% end %>

      <% current_organization.static_pages.where(show_in_footer: true).each do |page| %>
        <li><%= link_to translated_attribute(page.title), decidim.page_path(page) %></li>
        <% end %>
      <% end %>
      <li></li>
      </ul>
    </div>
    <%= render partial: "layouts/decidim/social_media_links" %>
  </div>
</div>