<%#
Copyright (C) 2022 Formez PA

This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, version 3.

This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License along with this program. If not, see <https://www.gnu.org/licenses/>

Aggiunto titolo
%>
<div class="empty-notifications callout secondary <%= "hide" if notifications.any? %>">
    <p><%= t("decidim.notifications.no_notifications") %></p>
</div>
<% if notifications.any? %>
    <h1 class="heading1">
        <%=t("layouts.decidim.user_menu.notifications")%>
    </h1>
<% end %>
<div id="notifications">
  <div class="mb-s text-right">
    <% if notifications.any? %>
      <%= link_to(
        t("mark_all_as_read", scope: "layouts.decidim.notifications_dashboard"),
        read_all_notifications_path,
        class: "button title-action__action hollow mark-all-as-read-button",
        method: :delete,
        data: { disable: true },
        remote: true
      ) %>
    <% end %>
  </div>

  <% notifications.select(&:resource).each do |notification| %>
    <%= cell("decidim/notification", notification) %>
  <% end %>
  </div>

<%= decidim_paginate notifications %>

