<%#
Copyright (C) 2020 Formez PA

This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, version 3.

This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License along with this program. If not, see <https://www.gnu.org/licenses/>

Pagina che crea il bottone Spid andando a prendere il nome, il nome dell'immagine e l'alt text degli IDP providers dalla costante SPID_PROVIDER_LIST_HASH 
valorizzata nell'initializer spid_rails.rb %>
<!-- AGID - SPID IDP BUTTON LARGE "ENTRA CON SPID" * begin * -->
<div class="spid-button-container">
  <a href="#" class="italia-it-button italia-it-button-size-l button-spid spid-button" spid-idp-button="#spid-idp-button-large-get" aria-haspopup="true" aria-expanded="false">
    <span class="italia-it-button-icon">
      <%=image_tag("decidim/spid/spid-ico-circle-bb.svg", src: 'Image Not Found', onerror:"this.src='decidim/spid/spid-ico-circle-bb.png'")%>
    </span>
    <span class="italia-it-button-text">Entra con SPID</span>
  </a>
</div>
<div id="spid-idp-button-large-get" class="spid-idp-button spid-idp-button-tip spid-idp-button-relative spid-button-large-idp-list">
  <ul id="spid-idp-list-large-root-get" class="spid-idp-button-menu" aria-labelledby="spid-idp">
    <%
      SPID_PROVIDER_LIST_HASH.each do |hash| 
        hash.symbolize_keys!
        %>
          <li class="spid-idp-button-link" data-idp="<%=hash[:alt].downcase.delete(' ')%>">
            <%= link_to decidim.send("user_spidauth_omniauth_authorize_path", idp_param: hash[:identity_provider]), {class: "spid-idp-label", method: :post} do %>
              <span class="spid-sr-only"><%=hash[:identity_provider].capitalize%> ID</span>
              <%=image_tag(hash[:svg_image_path], alt: hash[:alt], src: 'Image Not Found' )%>
            <% end %>
          </li>
        <%
      end
    %>
    <li class="spid-idp-support-link">
      <a href="https://www.spid.gov.it">Maggiori informazioni</a>
    </li>
    <li class="spid-idp-support-link">
      <a href="https://www.spid.gov.it/richiedi-spid">Non hai SPID?</a>
    </li>
    <li class="spid-idp-support-link">
      <a href="https://www.spid.gov.it/serve-aiuto">Serve aiuto?</a>
    </li>
  </ul>
</div>
<!-- AGID - SPID IDP BUTTON LARGE "ENTRA CON SPID" * end * -->
