<%#
Copyright (C) 2025 Formez PA

This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, version 3.

This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License along with this program. If not, see <https://www.gnu.org/licenses/>

Modificata footer della card processi per visualizzare un testo alternativo nel pulsante di partecipazione in caso di processo attivo o non attivi
modifiche per aggiungere il title al link relativo al pulsante "Partecipa" o "Naviga"
%>
<div class="card__footer card__footer--spaces">
  <div class="card__support">
    <% if has_step? %>
      <div class="card__support__data--left">
        <div><%= t("layouts.decidim.participatory_processes.participatory_process.active_step") %></div>
        <div class="text-ellipsis"><strong><%= step_title %></strong></div>
      </div>
	  <% if has_state? %>
        <% new_title = t("browse_button_link_title", scope: "decidim.usability_mods.processes_index_page") %>
        <% new_title += " "  + title %>
        <%= link_to(resource_path, class: "card__button button button--sc small", :title => new_title )  do %>
		      <span class="show-for-sr"><%= t("participate_button_text", resource_name: title, scope: "decidim.usability_mods.processes_index_page") %></span>
		      <%= t("browse_button_text", scope: "decidim.usability_mods.processes_index_page") %>
	      <% end %>
	  <% else %>
      <% new_title = t("participate_button_link_title", scope: "decidim.usability_mods.processes_index_page") %>
      <% new_title += " "  + title %>
      <%= link_to(resource_path, class: "card__button button button--sc small", :title => new_title ) do %>
		  <span class="show-for-sr"><%= t("browse_button_text", resource_name: title, scope: "decidim.usability_mods.processes_index_page") %></span>
		  <%= t("participate_button_text", scope: "decidim.usability_mods.processes_index_page") %>
	   <% end %>
	 <% end %>
	<% end %>
  </div>
</div>