<%#
Copyright (C) 2020 Formez PA

This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, version 3.

This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License along with this program. If not, see <https://www.gnu.org/licenses/>

Modificata per eliminare la sezione di pagina relativa ai Processi promossi, e separare i Processi Attivi da quelli Conclusi in due sezioni di pagina
%>

<div class="wrapper">
  <div class="page-title-wrapper">
    <h1 class="heading1 page-title">
     <%= t("decidim.usability_mods.processes_index_page.processes_title") %>
    </h1>
    <p class="intro--text subheading1">
      <%=t("decidim.usability_mods.processes_index_page.processes_subtitile") %>
    </p>
  </div>
  <% add_decidim_meta_tags(title: t("participatory_processes.index.title", scope: "decidim")) %>

  <%
  edit_link(
    decidim_admin_participatory_processes.participatory_processes_path,
    :read,
    :process_list
  )
  %>

  <%= participatory_space_wrapper do %>
    <% if promoted_collection.any? %>
      <section id="highlighted-processes" class="row section" style="display:none">
        <h1 class="section-heading"><%= t("participatory_processes.index.promoted_processes", scope: "layouts.decidim") %></h1>
         <% promoted_collection.each do |promoted_item| %>
          <%= render_highlighted_partial_for promoted_item %>
        <% end %>
      </section>
    <% end %>

    <section id="processes-grid" class="section row collapse">
      <div class="processes-grid-order-by">
        <%= render partial: "order_by_processes" %>
      </div>
      <div style="display:none"><%= render partial: "decidim/shared/participatory_space_filters/show" %></div>
      <p class="loading"><%= t(".loading") %></p>
      <div style="margin-left:10px">
        <div class="row small-up-1 medium-up-2 large-up-3 card-grid-active card-grid columns">
          <h3 class="section-heading" style="width:100%">
            <%=t("decidim.usability_mods.processes_index_page.active_processes_label") %>
          </h3>
          <%= render(active_collection) %>
        </div>
      </div>
      <div class="" style="margin-left:10px">
        <div class="row small-up-1 medium-up-2 large-up-3 card-grid-ended card-grid columns">
          <h3 class="section-heading" style="width:100%">
            <%=t("decidim.usability_mods.processes_index_page.ended_processes_label") %>
          </h3>
          <%= render(ended_collection) %>
        </div>
      </div>
    </section>
  <% end %>
</div>
<%= javascript_pack_tag "decidim_participatory_processes" %>
