<% add_decidim_page_title(t("devise.sessions.new.sign_in")) %>

<main class="wrapper">
  <div class="row collapse">
    <div class="row collapse">
      <div class="columns large-8 large-centered text-center page-title">
        <h1 class="heading1"><%= t("devise.sessions.new.sign_in") %></h1>
        <% if current_organization.sign_up_enabled? %>
          <p>
            <%= t(".are_you_new?") %>
            <%= link_to t(".register"), new_user_registration_path %>
          </p>
        <% elsif current_organization.sign_in_enabled? %>
          <p>
            <%= t(".sign_up_disabled") %>
          </p>
        <% else %>
          <p>
            <%= t(".sign_in_disabled") %>
          </p>
        <% end %>
      </div>
    </div>
    <%= render "decidim/devise/shared/omniauth_buttons" %>
	
	<div class="row collapse">
		<div class="columns large-8 large-centered text-center page-title">
			<p>
				<button class="h5" data-toggle="spid spid_closed spid_open" id="session_toggle">
					Accedi con Spid - In attivazione
					<span id="spid_closed" data-toggler=".is-hidden" aria-expanded="true">
					  <%= icon "chevron-bottom" %>
					</span>
					<span id="spid_open" class="is-hidden" data-toggler=".is-hidden" aria-expanded="false">
					  <%= icon "chevron-top" %>
					</span>
				</button>
			</p>
		</div>
	</div>
	
    <div id="spid" class="is-hidden" data-toggler=".is-hidden">
		<div class="row collapse">
			<div class="columns large-8 large-centered text-center page-title">
				L'accesso a ParteciPa tramite Spid è in attivazione, il pulsante sotto è presente solo a scopo di test.
				Per accedere con questa modalità ti invitiamo quindi ad attendere il completamento dell'attivazione di Spid su ParteciPa.
			</div>
			<%= render "decidim/devise/shared/spid_button" %>
		</div>
	</div>
	
	<div class="row">
		<div class="columns large-4 mediumlarge-6 medium-8 medium-centered">
			<div class="social-register">
				<%- if current_organization.sign_in_enabled? %>
					<span class="register__separator">
						<span class="register__separator__text"><%= t("decidim.devise.shared.omniauth_buttons.or") %></span>
					</span>
				<%- end %>
			</div>
		</div>
	</div>
	
	<% if current_organization.sign_in_enabled? %>
      <div class="row">
        <div class="columns large-6 medium-centered">
          <div class="card">
            <div class="card__content">
              <%= decidim_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "register-form new_user" }) do |f| %>
                <div>
                  <div class="field">
                    <%= f.email_field :email, autofocus: true %>
                  </div>
                  <div class="field">
                    <%= f.password_field :password, autocomplete: "off" %>
                  </div>
                </div>
                <fieldset>
                  <% if devise_mapping.rememberable? %>
                    <div class="field">
                      <%= f.check_box :remember_me %>
                    </div>
                  <% end %>
                </fieldset>
                <div class="actions">
                  <%= f.submit t("devise.sessions.new.sign_in"), class: "button expanded" %>
                </div>
              <% end %>
              <%= render "decidim/devise/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</main>