<!--
Copyright (C) 2020 Formez PA

This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, version 3.

This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License along with this program. If not, see <https://www.gnu.org/licenses/>
-->
<div class="row">
  <%= form_for(@notifications_settings, url: notifications_settings_path, method: :put, class: "user-form") do |f| %>
    <p><strong><%= t(".receive_notifications_about") %></strong></p>
    <div class="switch tiny switch-with-label notifications_from_own_activity">
      <%= f.label :notifications_from_own_activity do %>
        <%= f.check_box :notifications_from_own_activity, label: false, class: "switch-input" %>
        <span class="switch-paddle"></span>
        <span class="switch-label"><%= t(".own_activity") %></span>
      <% end %>
    </div>
    <div class="switch tiny switch-with-label notifications_from_followed">
      <%= f.label :notifications_from_followed do %>
        <%= f.check_box :notifications_from_followed, label: false, class: "switch-input" %>
        <span class="switch-paddle"></span>
        <span class="switch-label"><%= t(".everything_followed") %></span>
      <% end %>
    </div>

    <p><strong><%= t(".send_notifications_by_email") %></strong></p>
    <div class="switch tiny switch-with-label email_on_notification">
      <%= f.label :email_on_notification do %>
        <%= f.check_box :email_on_notification, label: false, class: "switch-input" %>
        <span class="switch-paddle"></span>
        <span class="switch-label"><%= t(".email_on_notification") %></span>
      <% end %>
    </div>
   
    <%= f.submit t(".update_notifications_settings"), disable_with: true %>
  <% end %>
</div>